<table id="recipes_list" class="table table-striped">
  <thead>
    <tr>
      <th data-type="html"><%= sort_link @q, :name, 'Name' %></th>
      <th>Description</th>
      <th data-breakpoints="xs sm"><%= sort_link @q, :active_time, 'Active time' %></th>
      <th data-breakpoints="xs"><%= sort_link @q, :total_time, 'Total time' %></th>
      <th data-breakpoints="xs sm md">Yield</th>
      <th data-type="html" data-breakpoints="xs">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= truncate recipe.description, length: 30, separator: ' ' %></td>
        <td><%= format_time recipe.active_time %></td>
        <td><%= format_time recipe.total_time %></td>
        <td><%= recipe.yield %></td>
        <td><%= recipe_actions recipe %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="7">
          There are currently no recipes. <%= link_to('Create one?', new_recipe_path) if policy(Recipe).create? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @recipes, :params => {:controller => 'recipes', :action => 'index'} %>
