<%- content_for(:title) { @recipe.name } %>
<%- content_for(:subtitle) do %>
  <%- if @recipe.owner.present? %>
    <small>by <%= @recipe.owner %></small>
  <%- end %>
<%- end %>

<div class="pull-right">
  <%= recipe_actions @recipe, recipes_path %>
</div>

<%= simple_format @recipe.description %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yield</h3>
      </div>
      <div class="panel-body">
        <%= @recipe.yield %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.active_time %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.total_time %>
      </div>
    </div>
  </div>
</div>

<%- unless @recipe.equipment.blank? %>
  <p>
    <strong>Equipment:</strong>
    <%= @recipe.equipment %>
  </p>
<%- end %>

<div class="heading-menu">
  <h2>Ingredients</h2>
  <%= render 'modifier_menu', recipe: @recipe %>
</div>

<%= link_to 'Add', new_recipe_ingredient_path(@recipe) if policy(@recipe).update? %>

<%- if @recipe.ingredients.present? %>
  <ul class="list-unstyled">
    <%= render partial: 'ingredients/list_item', collection: @recipe.ingredients, as: :ingredient, locals: { modifier: @modifier } %>
  </ul>
<%- else %>
  <p>No ingredients have been added to this recipe.</p>
<%- end %>

<hr>

<h2>Directions</h2>
<%= link_to 'Add', new_recipe_step_path(@recipe) if policy(@recipe).update?  %>

<%- if @recipe.steps.present? %>
  <ol>
    <%= render partial: 'steps/list_item', collection: @recipe.steps, as: :step %>
  </ol>
<%- else %>
  <p>No directions have been added to this recipe.</p>
<%- end %>

