<h1>
  <%= @recipe.name %>
  <%- if @recipe.user.present? %>
    <small>by <%= @recipe.user.username %></small>
  <%- end %>
</h1>

<div class="pull-right">
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
</div>

<%= simple_format @recipe.description %>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yield</h3>
      </div>
      <div class="panel-body">
        <%= @recipe.yield %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.active_time %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.total_time %>
      </div>
    </div>
  </div>
</div>

<%- unless @recipe.equipment.blank? %>
  <p>
    <strong>Equipment:</strong>
    <%= @recipe.equipment %>
  </p>
<%- end %>

<h2>Ingredients</h2>
<%= link_to 'Add', new_recipe_ingredient_path(@recipe) %>

<ul class="list-unstyled">
  <%= render partial: 'ingredients/list_item', collection: @recipe.ingredients, as: :ingredient %>
</ul>

<hr>

<h2>Directions</h2>
<%= link_to 'Add', new_recipe_step_path(@recipe) %>

<ol>
  <%= render partial: 'steps/list_item', collection: @recipe.steps, as: :step %>
</ol>

