<%- content_for(:title) { @recipe.name } %>
<%- content_for(:subtitle) do %>
  <%- if @recipe.owner.present? %>
    <small>by <%= @recipe.owner %></small>
  <%- end %>
<%- end %>
<%- content_for(:opengraph_meta_tags) { render 'opengraph', object: @recipe } %>
<%- content_for(:actions) do %>
  <div class="pull-right">
    <%= render 'action_buttons', model: @recipe %>
  </div>
<%- end %>

<div class="row">
  <div class="col-md-12">
    <%- if @recipe.image.present? %>
      <%= image_tag @recipe.image.url(:medium), alt: '', class: 'pull-right recipe-image img-responsive' %>
    <%- end %>

    <%= simple_format @recipe.description %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Yield</h3>
      </div>
      <div class="panel-body">
        <%= @recipe.yield %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Active time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.active_time %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Total time</h3>
      </div>
      <div class="panel-body">
        <%= format_time @recipe.total_time %>
      </div>
    </div>
  </div>
</div>

<%- unless @recipe.equipment.blank? %>
  <p>
    <strong>Equipment:</strong>
    <%= @recipe.equipment %>
  </p>
<%- end %>

<div class="heading-menu">
  <h2>Ingredients</h2>
  <%= render 'modifier_menu', recipe: @recipe %>
</div>
<%- if @recipe.ingredients.any? %>
  <ul id="ingredient-list" class="<%= 'sortable ' if policy(@recipe).update? %>list-unstyled" data-recipe-id="<%= @recipe.id %>" data-route="sort_recipe_ingredients_path">
    <%= render @recipe.ingredients, modifier: @modifier %>
  </ul>
<%- else %>
  <p>No ingredients have been added to this recipe.</p>
<%- end %>

<%= link_to('Add ingredient', new_recipe_ingredient_path(@recipe), class: 'btn btn-default btn-xs') if policy(@recipe).update? %>

<hr>

<h2>Directions</h2>
<%- if @recipe.steps.any? %>
  <ol id="step-list" class="<%= 'sortable ' if policy(@recipe).update? %>list-group" data-recipe-id="<%= @recipe.id %>" data-route="sort_recipe_steps_path">
    <%= render @recipe.steps %>
  </ol>
<%- else %>
  <p>No directions have been added to this recipe.</p>
<%- end %>

<%= link_to('Add directions', new_recipe_step_path(@recipe), class: 'btn btn-default btn-xs') if policy(@recipe).update?  %>
