<li>
  <%= format_amount ingredient.amount(modifier) %>
  <%= ingredient.unit %>
  <%= ingredient.name %><%= ", #{ingredient.notes}" if ingredient.notes.present? %>
  <small><%= ingredient_actions ingredient %></small>
</li>
