<%- content_for(:title) { 'Foods' } -%>
<%- content_for(:header) do %>
  <%- if policy(Food).create? %>
    <%= link_to new_food_path, class: 'btn btn-success pull-right' do %>
      <span class="glyphicon glyphicon-plus"></span> New food
    <% end %>
  <%- end %>
<%- end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :name, 'Name' %></th>
      <th>Description</th>
      <th data-breakpoints="xs">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name, food %></td>
        <td><%= food.description %></td>
        <td><%= food_actions food %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="7">
          No foods have been added. <%= link_to('Add one?', new_food_path) if policy(Food).create? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @foods %>
