<%- content_for(:title) { 'Foods' } -%>

<%- content_for(:navbar) do %>
  <%= render partial: 'navbar_search', locals: { query: :name_or_description_cont, model: Food } %>
<%- end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th data-type="html"><%= sort_link @q, :name, 'Name' %></th>
      <th>Description</th>
      <th data-type="html" data-breakpoints="xs">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @foods.each do |food| %>
      <tr>
        <td>
          <%= link_to food do -%>
            <%= image_tag(food.image.url(:thumb), size: '50x50', alt: '', class: 'table-thumb') if food.image.present? %><%= food.name %>
          <% end %>
        </td>
        <td><%= food.description %></td>
        <td><%= render 'action_buttons', model: food %></td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="7">
          No foods have been added. <%= link_to('Add one?', new_food_path) if policy(Food).create? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @foods %>
