<!DOCTYPE html>
<html>
<%= render 'head' %>

<body>
  <%= render 'navbar' %>

  <div class="container">
    <%= render "flash_messages" %>

    <div class="page-header">
      <h1><%= yield :title %> <%= yield :subtitle %></h1>
    </div>

    <%= yield %>
  </div>

</body>
</html>
